@font-face {
  font-family: Lugrasimo;
  src: url("./assets/fonts/Lugrasimo/Lugrasimo-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: Playfair;
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf"),
    url("./assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dominant: #bfb7a8;
  --accent: #cd9b05;
  --white: #fff;
  --balck: #000;
  font-family: "Playfair";
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
}

body {
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--accent);
}

ul {
  display: flex;
  gap: 5vw;
  list-style: none;
}

li {
  font-size: clamp(16px, 2rem, 2.2rem);
  font-weight: 600;
  transition: color 0.3s;
}

li:hover {
  cursor: pointer;
  color: var(--balck);
}

#content {
  border: 5px solid rgb(79, 195, 79);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr;
}

#hero-image {
  position: absolute;
  top: 0px;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1fr);
}

#title {
  font-size: clamp(1.7rem, 3.5rem, 5rem);
  font-family: "Lugrasimo";
}

#home-info-container {
  width: clamp(350px, 35vw, 45vw);
  margin-left: 15vw;
  height: 70vh;
  display: flex;
  gap: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;

  background-color: var(--white);
}

#home-info-container > p {
  font-size: clamp(16px, 1.5rem, 5rem);
}

#home-info-container > button {
  padding: 0.7rem 1.4rem;
  font-size: clamp(16px, 1.5rem, 5rem);
}
