@font-face {
  font-family: Lugrasimo;
  src: url("./assets/fonts/Lugrasimo/Lugrasimo-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: Playfair;
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf"),
    url("./assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --dominant: #bfb7a8;
  --accent: #d9a404;
  --white: #fff;
  --balck: #000;
}

body {
  color: rgb(135, 135, 255);
  position: relative;
  font-family: "Playfair";
}

#content {
  border: 5px solid rgb(91, 243, 91);
  width: 100vw;
  height: 100vh;
  /* background: url("./assets/cottonbro.jpeg") center center; */

  display: grid;
  grid-template-rows: 10vh 1fr;
}

h1 {
  display: none;
}

#hero-image {
  position: absolute;
  top: 0px;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
