@font-face {
  font-family: Lugrasimo;
  src: url("./assets/fonts/Lugrasimo/Lugrasimo-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: Playfair;
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf"),
    url("./assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-accent: #b6b6b68e;
  --accent: #e0bd54;
  --white: #fff;
  --black: #000000;
  font-family: "Playfair";
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
}

body {
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--accent);
  border-bottom: 1px solid #cd9b054e;
}

ul {
  display: flex;
  gap: 5vw;
  list-style: none;
}

li {
  font-size: clamp(16px, 2rem, 2.2rem);
  font-weight: 600;
  transition-property: color scale;
  transition-duration: 300ms;
}

li:hover {
  cursor: pointer;
  color: var(--black);
  scale: 103%;
}

li:active {
  cursor: pointer;
  color: var(--black);
  scale: 95%;
}

#content {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr;
}

#hero-image {
  position: absolute;
  top: 0px;
  z-index: -1;
  transition-property: filter;
  filter: blur(0px);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-home {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1fr);
}

#title {
  font-size: clamp(1.7rem, 3.5rem, 5rem);
  font-family: "Lugrasimo";
  color: var(--accent);
}

#home-info-container {
  border: 1px solid #cd9b054e;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.059);

  width: clamp(350px, 35vw, 45vw);
  margin-left: 15vw;
  height: clamp(500px, 35vh, 90vh);
  display: flex;
  gap: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  word-spacing: 2px;
  background-color: var(--white);
}

#home-info-container > p,
#info-body {
  font-size: clamp(16px, 1.5rem, 5rem);
}

#home-info-container > button {
  padding: 0.7rem 1.4rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--accent);

  font-size: clamp(16px, 1.5rem, 5rem);
  transition-property: color background-color scale box-shadow;
  transition-duration: 300ms;
}

#home-info-container > button:hover,
#home-info-container > button:focus {
  box-shadow: 2px 4px 16px #0000005f;

  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
  scale: 103%;
}

#home-info-container > button:active {
  box-shadow: 2px 4px 16px #0000005f;

  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
  scale: 97%;
}

#main-menu {
  background-color: var(--white);
  display: grid;
  padding: 2vh 4vw;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 2vw clamp(4vw, 5vw, 6vw);
  width: 100vw;
  height: 100%;
}

.item-body {
  border: 1px solid #cd9b054e;
  display: grid;
  justify-content: center;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.119);
  padding: 10%;
  grid-template-rows: 1fr;
  transition-property: box-shadow, scale;
  transition-duration: 300ms;
}

.item-body:hover {
  box-shadow: 2px 4px 16px #cd9b055f;
  cursor: pointer;
  scale: 102%;
}

.item-body:active {
  box-shadow: 3px 5px 18px #cd9b056c;
  cursor: pointer;
  scale: 99%;
}

.item-body > img {
  width: 100%;
  object-fit: cover;
}

.name-price-container {
  width: 100%;
  position: relative;
  padding-top: 4vh;

  background-color: var(--white);
}

.item-name {
  font-size: 1.4em;
}

.item-price {
  color: var(--accent);
  font-size: 1.4em;
}

#contact-menu {
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  padding: 4vh 4vw;
}

#info-body {
  color: var(--black);
  background-color: var(--white);
  width: clamp(350px, 40%, 30vw);
  height: clamp(200px, 500px, 70vh);
  min-width: fit-content;
  min-height: fit-content;
  border: 1px solid #cd9b054e;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.059);
  padding: 1% 5%;
}

#info-body > p {
  padding: 0.5vh 0;
  word-spacing: 2px;
}

#contact-title {
  color: var(--accent);
  font-size: clamp(20px, 1.9rem, 8rem);
  text-align: center;
  padding-bottom: 2vh;
}

a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  color: var(--light-accent);
}
