*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: blue;
}

#content {
  border: 2px solid green;
  background-color: yellow;
  display: grid;
  grid-template-rows: 10vh 1fr;
  position: relative;
}
/*


.hero-image {
  position: absolute;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
