*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: rgb(135, 135, 255);
  position: relative;
}

#content {
  border: 5px solid rgb(91, 243, 91);
  width: 100vw;
  height: 100vh;
  /* background: url("./assets/cottonbro.jpeg") center center; */

  display: grid;
  grid-template-rows: 10vh 1fr;
}

#hero-image {
  position: absolute;
  filter: brightness(115%);
  top: 0px;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
