@font-face {
  font-family: Lugrasimo;
  src: url("./assets/fonts/Lugrasimo/Lugrasimo-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: Playfair;
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf"),
    url("./assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --dominant: #bfb7a8;
  --accent: #d9a404;
  --white: #fff;
  --balck: #000;
  font-family: "Playfair";
}

body {
  position: relative;
}

#logo {
  font-family: "Playfair";
  color: white;
}

header {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
  color: rgb(6, 63, 114);

  border: 5px solid rgb(226, 178, 34);
}

#content {
  border: 5px solid rgb(79, 195, 79);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr;
}

#hero-image {
  position: absolute;
  top: 0px;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
